:root{
    --primary-color: #994ff3;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
}

.sidebar{
    grid-row: 1/-1;
    display: grid;
    grid-template-rows: 2fr 1fr 6fr 1fr 3fr 6fr;
    background-color: var(--primary-color);
    font-size: calc(1.3vw + 0.3rem);
    font-weight: bold;
    color: white;
    font-family: "Karla", sans-serif;
}

.header{
    border: 5px solid purple;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.main{
    border: 5px solid orange;
    display: grid;
    grid-template: 1fr 8fr / 2fr 1fr;
}

.header1{
    border: 1px solid purple;
}

.header2{
    border: 1px solid purple;
}

.projects{
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(350px,1fr));
    gap: 1rem 1rem;
    padding: 0 1.5vw 2vh 1.5vw;
    grid-auto-rows: 1fr;
}

.card{
    border: 1px solid orange;
}

.side-cards{
    display: grid;
    grid-template-rows: 4fr 1fr 4fr;
    padding: 0 1.5vw 2vh 1.5vw;
}

.sidebar-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding: calc(0.1vh + 0.1vw + 0.5rem);
}

.sidebar-heading img{
    width: calc(1.5vw + 1.5rem);
    height: auto;
}

.sidebar .first-group{
    grid-row: 3;
    display: grid;
    grid-template-rows: repeat(6,1fr);
}

.sidebar-child.second-group{
    grid-row: 5;
    display: grid;
    grid-template-rows: repeat(3,1fr);
}

.sidebar-links{
    font-weight: bold;
    font-size: calc(0.5vw + 0.5rem);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1vw;
    padding-left: calc(0.8vw + 0.5rem);
}

.sidebar-links img{
    width: calc(0.5vw + 1rem);
    height: auto;
}